.BoxSearching {
    background-color: white;
    border-radius: 15px;
    width: 40%;
    height: 30px;
    font-family: Roboto, Verdana, Tahoma, sans;
    text-align: center;
    font-size: 150%;
    margin-left: 30%;
    resize: none;
}

.Searches {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 10px;
    background-color: white;
    transform: translate(470%);
    margin-top: 5px;

}

.Searches:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;
}