.button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    height: 35px;
    width: 17%;
    margin-top: -10px;
}

.button:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;
}
.content {
    width: 100%;
    max-width: 100%;
}

.postsBlock {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}