.AboutMeBlock {
    right: 15px;
    button {
        height: 30px;
        width: auto;
    }

    button:hover {
        color: black;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        background: aliceblue;
    }
}

.AboutMeBlock div {
    margin-left: 10px;
    margin-bottom: 5px;
}

.otherSocial {
    display: table-cell;
}

.aboutMeButton {
    width: 100px;
}


.closeBlock {
    img {
        width: 20px;
        height: 20px;
    }
}

.closeButton {
    float: right;
    width: 30px;
    height: 30px;
}

.aboutMeContainer {
    position: fixed;
    top: -15px;
    left: -15px;
    padding: 15px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgba(1, 1, 1, 0.7);
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;
}

.aboutMe {
    height: 670px;
    width: 700px;
    border-radius: 10px;
    box-shadow: black;
    position: fixed;
    margin: 0 auto;
    border: black 1px solid;
    background-color: white;
    color: black;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap; /* Норма в CSS3 */
    white-space: -moz-pre-wrap; /* Firefox не забывает */
    white-space: -pre-wrap; 
}

.aboutMeText {
}
