.RegisterBlock {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: black;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    
}

.SignIn {
    font-size: 50px;
    font-weight: 600;
    height: 60px;
    display: flex;
}

.RegisterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.RegisterContainer input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    resize: none;
}

.RegisterContainer button {
    display: inline-block;
    border-radius: 10px;
    width: 310px;
    height: 40px;
    background-color: white;
    margin-bottom: 10px;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    background-color:brown;
}

.RegisterContainer button:hover {
    color: black;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background-color:red;
    color: white;
}

.AnAccount {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}