.textSearch {
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 40%;
    height: 37px;
    font-family: Roboto, Verdana, Tahoma, sans;
    text-align: center;
    font-size: 150%;
    margin-left: 30%;
    resize: none;
    bottom: 10px;
}

.ButtonSearch {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sansa;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    margin: 5px;
    background-color: white;
    width: 15%;
    float: right;
}

.ButtonSearch:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;

}