.Communities {
    margin-bottom: 10px;
    margin-left: 15px;
    button {
        border: none;
        outline: none;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        font-size: 15px;
        font-family: Roboto, Verdana, Tahoma, sans;
        padding: 5px 10px;
        background-color: white;
    }
    button:hover {
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        background: aliceblue;
    }
}

.CommunityName {
    font-size: 20px;
    font-weight: bold;
}