.followBlock {
    display: table-cell;
    button {
        border: none;
        outline: none;
        text-decoration: none;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        font-family: Roboto, Verdana, Tahoma, sans;
        padding: 5px 15px;
        border-radius: 20px;
        color: black;
        height: 50px;
        width: 145px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    button:hover {
        color: black;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        background: aliceblue;
    }
    button:disabled{
        color: gray;
    }
}
