.Nav {
    grid-area: n;
    border-radius: 0 30px 30px 0;
    width: 190px;
    height: 100%;
    display: inline-block;
    z-index: 99;
}



.Nav button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 15px;
    border-radius: 20px;
    color: black;
    margin: 0 5px 5px 5px;
    background: none;
    height: 50px;
    width: 94%;
    font-weight: 600;
}

.Nav button img {
    background-repeat: no-repeat;
    width: 28px;
    margin-right: 13px;
}


.Nav button:hover {
    color: black;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: white;
}

