.newPostContainer {
    display: flex;
    justify-content: center;
}

.newpost {
    height: 40px;
    border: 1px solid black;
    width: 500px;
    font-size: 25px;
    border-radius: 10px;
    font-family: Roboto, Verdana, Tahoma, sans;
    text-align: center;
    resize: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-height: 300px;
}

.posting {
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    border-radius: 10px;
    background-color: white;
    height:40px;
    margin-left: 5px;
}

.posting:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;

}

.newpost {
    background-color: white;
}

