.openPostBlock {
    position: absolute;
    top: -15px;
    left: -15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgba(1, 1, 1, 0.7);
    overflow:-moz-hidden-unscrollable;
    white-space:initial;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;
}

.openPostContainer {
    height: 700px;
    width: 800px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.closePage {
    float: right;
    img {
        width: 23px;
        height: 23px;
        margin: 10px;
    }
    button {
        height: auto;
        width: auto;
        
    }
}