.app-wrapper {
    margin: 0 auto;
    display: grid;

    width: 100%;


    grid-template-areas:
    "h h h"
    "n c c";

    grid-template-rows: 50px 2fr;
    grid-template-columns: 120px 10fr;
    grid-gap: 10px;
    background-color: aliceblue;
    height: 100%;
}


.app-wrapper-content {
    grid-area: c;
    border-radius: 10px 10px 0 0;
    min-height: 92vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.app-wrapper-with-wallpaper {
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;
}