.NewPost{
    border-radius: 10px;
    font-family: Roboto, Verdana, Tahoma, sans;
    text-align: center;
    font-size: 100%;
    resize: none;
    background-color: white;
    height: 30px;
    min-height: 30px;
    max-height: 100px;
    min-width: 150px;
    width: 455px;
    max-width: 700px;
}

.NewPostBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addNewPost {
    width: auto;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    height: 35px;
}

.addNewPost:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;

}