.answerBlock {
    display: block;
    position: relative;
    right: -50px;
}

.inputAnswerImg {
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
}

.inputAnswer {
    font-size: 25px;
    border-radius: 10px;
}

.answerButton {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: none;
    font-family: Roboto, Verdana, Tahoma, sansa;
}

.answerButton:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;
}