.details {
    background: none;
    img {
        width: 25px;
        height: 25px;
        border: none;
    }
    display: block;
    clear: right;
    float: right;
    height: auto;
    width: auto;
    border: none;
    border-radius: 10px;
}

.details:hover {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background: aliceblue;
}

.PostBox {
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    width: 550px;
    min-height: 100px;
    max-height: 400px;
    overflow: hidden;
    text-overflow:ellipsis;
    background-color: white;
    word-break: break-all;
}

.DescriptionBox {
    margin-left: 15px;
    flex-basis: 250px;
    flex-grow: 1;
}
.UsersName {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    color: black;

}

.UsersMessage {
    margin-top: 10px;
    font-size: 17px;
}

.UsersPhoto {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}